@model MembershipType
@{
    ViewData["Title"] = "Edit Membership Type";
}

<div class="row">
    <div class="col-md-12">
        <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-chevron-left" aria-hidden="true"></i> Go Back</a>
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-6">
        <section>
            <form asp-action="Edit" method="post">
                <h4>Please edit membership type details</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="card mb-3 bg-light">
                    <div class="card-body">

                        <input asp-for="MembershipTypeId" type="hidden" class="form-control" />
                        <input name="membershipTypeId" value="@Model.MembershipTypeId" type="hidden" class="form-control" />

                        <div class="form-floating mb-3">
                            <input asp-for="MembershipTypeTitle" class="form-control" />
                            <label asp-for="MembershipTypeTitle" class="form-label"></label>
                            <span asp-validation-for="MembershipTypeTitle" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="MembershipTypePrice" class="form-control" type="number" step="0.01" />
                            <label asp-for="MembershipTypePrice" class="form-label"></label>
                            <span asp-validation-for="MembershipTypePrice" class="text-danger"></span>
                        </div>

                        <div class="form-check form-check-inline mb-3">
                            <input asp-for="MembershipTypeActive" id="active1" name="MembershipTypeActive" type="radio" class="form-check-input" value="True" />
                            <label class="form-check-label" for="active1">
                                Membership Active
                            </label>
                        </div>

                        <div class="form-check form-check-inline mb-3">
                            <input asp-for="MembershipTypeActive" id="active2" name="MembershipTypeActive" type="radio" class="form-check-input" value="False" />
                            <label class="form-check-label" for="active2">
                                Membership Not Active
                            </label>
                        </div>

                        <div class="form-floating mb-3">
                            <textarea asp-for="MembershipTypeDescription" style="min-height: 300px" class="form-control" rows="4" cols="50"></textarea>
                            <label asp-for="MembershipTypeDescription" class="form-label"></label>
                            <span asp-validation-for="MembershipTypeDescription" class="text-danger"></span>
                        </div>

                        <div class="form-check form-check-inline mb-3">
                            <input asp-for="Type" id="type1" name="Type" type="radio" class="form-check-input" value="1" />
                            <label class="form-check-label" for="type1">
                                Weekly
                            </label>
                        </div>

                        <div class="form-check form-check-inline mb-3">
                            <input asp-for="Type" id="type2" name="Type" type="radio" class="form-check-input" value="2" />
                            <label class="form-check-label" for="type2">
                                Monthly
                            </label>
                        </div>

                        <div class="form-check form-check-inline mb-3">
                            <input asp-for="Type" id="type3" name="Type" type="radio" class="form-check-input" value="3" />
                            <label class="form-check-label" for="type3">
                                Unlimited
                            </label>
                        </div>

                        <div class="form-floating mb-3" id="numberOfClassesContainer">
                            <input asp-for="NumberOfClasses" class="form-control" type="number" step="1" />
                            <label asp-for="NumberOfClasses" class="form-label"></label>
                            <span asp-validation-for="NumberOfClasses" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3" id="numberOfMonthsContainer">
                            <input asp-for="NumberOfMonths" class="form-control" type="number" step="1" />
                            <label asp-for="NumberOfMonths" class="form-label"></label>
                            <span asp-validation-for="NumberOfMonths" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <button type="submit" class="w-100 btn btn-lg btn-success"><i class="fas fa-save"></i> Update Membership Type</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section scripts
{
    <script src="~/js/_membershipType.js"></script>
}