@model IEnumerable<MembershipType>
@{
    ViewData["Title"] = "Membership Types";
}

@if (Model.Any())
{
    <div class="row">
        <div class="col-md-3">
            <div class="col-md-6">
                <table class="table table-borderless">
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <div class="card mb-4 border border-primary">
                                        <div class="card-header bg-secondary text-light border-bottom border-success">
                                            <h5 class="modal-title">
                                                @item.MembershipTypeTitle
                                            </h5>

                                            <div>
                                                <a asp-action="Edit" class="text-warning" asp-route-membershipTypeId="@item.MembershipTypeId">Edit</a>
                                            </div>

                                        </div>
                                        <div class="card-body">
                                            <p style="white-space:pre-wrap">@Html.Raw(item.MembershipTypeDescription)</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <div class="alert alert-info" role="alert">
        No membership types available. Please try again after some time.
    </div>
}