@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="d-flex justify-content-center align-items-center" style="height: 85vh;">
    <div class="col-md-6">
        <section>
            <form method="post">
                <h2>Choose a new password for your CrossFit Glack account.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="card mb-3 bg-light">
                    <div class="card-body">
                        <input asp-for="Input.Code" type="hidden" />

                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                            <label asp-for="Input.Email" class="form-label"></label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                            <label asp-for="Input.Password" class="form-label"></label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                            <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Change Password <i class="fa-solid fa-arrow-right" aria-hidden="true"></i></button>
                </div>
        </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
