@{
    var steps = ViewData["Steps"] as LinkedList<Step>;

    decimal totalSteps = steps.Count;
    int stepNumber = (int)ViewData["CurrentStepNumber"];

    var stepPercent = Math.Round((stepNumber / totalSteps) * 100);
}

@functions
{
    static string WritePercentageWidth(decimal percent)
    {
        return $"width: {percent}%";
    }
}

<span id="menustep">@stepNumber of @totalSteps steps</span>
<div class="progress mb-5">
    <div class="progress-bar" role="progressbar" aria-valuenow="@stepPercent" aria-valuemin="0" aria-valuemax="100" style="@WritePercentageWidth(stepPercent)">
        @(stepPercent.ToString() + "%")
    </div>
</div>