@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("SuperUser") || User.IsInRole("Staff"))
        {
            <a class="dropdown-item" asp-controller="User" asp-action="Index">Users</a>

            <a class="dropdown-item" asp-controller="MembershipType" asp-action="Index">Membership Types</a>

            <a class="dropdown-item" asp-controller="Workout" asp-action="Index">Workouts</a>

            <a class="dropdown-item" asp-controller="Class" asp-action="Index">Classes</a>

            <a class="dropdown-item" asp-controller="NewsFeed" asp-action="Index">Notifications</a>

            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>
        }
    }
</ul>