@model Membership
@{
    ViewData["Title"] = "Purchase Complete";
    Layout = "~/Views/Shared/_PurchaseLayout.cshtml";
}

<div class="alert alert-info" role="alert">
    <h4 class="alert-heading">Thank You for Your Purchase!</h4>
    <p>Feel free to start booking classes and make the most out of your membership benefits.</p>
</div>