@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    var email = Request.Query["email"];
}

<div class="d-flex justify-content-center align-items-center" style="height: 85vh;">
    <div class="col-md-6">
        <section>
            <h4>Forgot password confirmation</h4>
            <hr />
            <div class="card mb-3 bg-light">
                <div class="card-body">
                    <p class="form-control">An email has been sent to <strong>@email</strong> with instructions on how to reset your password. Please check your inbox and follow the provided steps.</p>
                </div>
            </div>
            <div class="mb-3">
                <a class="w-100 btn btn-lg btn-primary" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Back To Login <i class="fas fa-arrow-left" aria-hidden="true"></i></a>
            </div>
        </section>
    </div>
</div>